body{
  background:linear-gradient(135deg,#8a2be2,#00ffff);
  color:white;
  font-family:Arial;
  margin:0;
}

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box{
  background:#14141c;
  padding:40px;
  border-radius:15px;
  box-shadow:0 0 30px cyan;
  text-align:center;
}

input,select,textarea{
  width:100%;
  padding:10px;
  margin:8px 0;
  border:none;
  border-radius:8px;
  background:#1f1f2b;
  color:white;
}

button{
  background:#8a2be2;
  border:none;
  padding:10px;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.topbar{
  background:#14141c;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.ticket-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:15px;
  padding:20px;
}

.card{
  background:#1f1f2b;
  padding:15px;
  border-radius:12px;
}

.Low{border-left:5px solid green}
.Medium{border-left:5px solid yellow}
.High{border-left:5px solid orange}
.Critical{border-left:5px solid red}

.popup,.cat-overlay{
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,.9);
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
